*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Big Shoulders Stencil Display', cursive;
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color:rgb(255, 0, 0);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
.audio2{
    background: black;
    color: gray;
}
header{
    width: 100%;
    height: 600px;
    background: #0F2027;  
    background: -webkit-linear-gradient(to right, hsla(197, 38%, 28%, 0.705), rgba(31, 57, 65, 0.705), rgba(16, 33, 40, 0.705));  
    background: linear-gradient(to right, hsla(197, 38%, 28%, 0.705), rgba(31, 57, 65, 0.705), rgba(16, 33, 40, 0.705)),url(../rc/599d160d6fde02544df8bcec2704dac038f976fc_hq.gif); 
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    top: 0;
    position: sticky;
    text-align: right;
    padding: 30px 50px 0 0;
}



nav > a{
    color: rgb(9, 255, 0);
    text-decoration: none;
    margin-right: 10px;
    
}
nav > a:hover{
   text-decoration: underline;
}
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:rgb(255, 0, 0);
}
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: rgb(255, 0, 0);
}

.seccion1{
    background: url(../rc/audifonos\ 3_opt.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}
.imagen-about-us{
    width: 48%;
}
.sobre-nosotros .contenido-textos{
    width: 48%;
}
.contenido-textos h3{
    color: white;
    margin-bottom: 15px;
}
.sobre-nosotros .contenido-textos span{
    background:red;
    color:white;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 3px;
    box-shadow: 0 0 6px 0 rgba(0,0, 0, .5);
    margin-right: 5px;
}
.contenido-textos p{
    color: white;
    padding: 0px 0px 30px 15px;
}
.portafolio{
    background: gray;
}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    height: 200px;
}
.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(270, 2%, 18%, 0.7);
    transition: transform .7s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria img{
    width: 100px;
}
.hover-galeria p{
    color: red;
}
.imagen-port:hover .hover-galeria{
    transform: scale(1);
}
.titulo-final{
    color:blanchedalmond;
}
footer{
    background: black;
}
.redes-container{
    display:flex;
    height: 60px;
    align-items: center;
    justify-content: center;
}
.redes-container ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}
.redes-container ul li a{
    display: block;
    padding: 0 10px;
    background: gray;
    color: white;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
    transition: .2s;
}
.redes-container ul:hover a{
    filter: blur(2px);
}
.redes-container ul li a:hover{
    transform: translate(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}
.redes-container ul li .Facebook:hover{
    background: #4267B2;
}
.redes-container ul li .Instagram:hover{
    background: #e4405f;
}
.redes-container ul li .Twitter:hover{
    background: #55acee;
}
.redes-container ul li .xbox:hover{
    background: #9bc848;
}
.redes-container ul li .Youtube:hover{
    background: #c4302b;
}
.redes-container ul li .Twitch:hover{
    background: #6441a5;
}

@media screen and (max-width: 900px){
    header{
        background-position: center;
    }
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sobre-nosotros .contenido-textos{
        width: 90%;
    }
    .imagen-about-us{
        width: 90%;
    }
    .imagen-port{
        width: 40%;
    }
}